/* Home Page */
#home-content {
  margin: 40px 50px 90px 40px;
  height: 80vh;
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
}
#home-content h3 {
  font-size: 40px;
  font-weight: 900;
}
#home-content img {
  height: 120px;
}
.homepage-text {
  margin: 5px 0 20px 20px;
}

.home-seperation {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.home-right {
  width: 50%;
  margin: 50px auto;
}

.home-left {
  width: 48%;
}

.home-foot {
  height: 15%;
  align-items: center;
}

/* Login/ Register */
.register-container {
  width: 80%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin: 50px auto;
}

.register-container input {
  width: 80%;
  margin: 0 auto;
}
.homepage-tos {
  margin-top: 10px;
  display: flex;
}
.homepage-tos input {
  width: 10%;
  align-self: flex-start;
  margin: 10px;
}
#register {
  margin: 10px;
  height: 10%;
  width: 175px;
}

/* Welcome Account Config/Setup */

/* Navigation */
.styled-nav {
  background-color: #b150e2;
  color: whitesmoke;
}

.nav-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
#nav-text {
  color: whitesmoke;
}
#logo {
  height: 85px;
  margin: 0 50px 0 0;
}

/* Dashboard */

/* Subscription Cards */

/* Add Card Form */

/* Edit User Account */
