/* Home Page */

html {
  box-sizing: border-box;
}
#home-content {
  border-radius: 10px;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}
.h3-title {
  font-size: 40px;
  font-weight: 900;
}
#home-content img {
  height: 120px;
}
.homepage-text {
  margin: 5px 0 20px 20px;
}

.home-seperation {
  display: flex;
  justify-content: center;
}

.home-right {
  width: 45%;
  margin: 40px;
}

.home-left {
  width: 45%;
}
.homepage-img-container {
  width: 100%;
  height: 400px;
  margin: -25px 0 0 150px;
  border-radius: 10px;
  background: url("./assets//img//alluivaIphone.jpg") no-repeat center;
}
#appimg {
  height: 100%;
}

.home-foot {
  height: 15%;
  align-items: center;
}

/* Login/ Register */
.register-container {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin: 50px auto;
}

.register-container img {
  width: 75%;
  margin: 5px 25px -15px 5px;
}
.register-container input {
  width: 80%;
  margin: 0 auto;
}
.login-container {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  margin-top: -17px;
}
.login-container input {
  font-size: 15px;
}
.homepage-tos {
  margin-top: 10px;
  display: flex;
}
.homepage-tos input {
  width: 10%;
  align-self: flex-start;
  margin: 10px;
}
#register {
  margin: 10px;
  height: 10%;
  width: 175px;
  background: #a355ca;
  border: whitesmoke;
}
#isInActive {
  display: none;
}

/* Welcome Account Config/Setup */

/* Navigation */
.nav-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
}
#nav-text {
  color: #b150e2;
}
#nav-text:hover {
  color: #68049b;
}
#logo {
  height: 85px;
  margin: 0 50px 0 0;
}

.tabbed {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: flex-end;
}
.login-signup {
  display: flex;
  justify-content: flex-end;
}
#dropdown-left {
  width: 55px;
  font-size: 30px;
}
#dropdown-left::before {
  display: none;
}
.tooltip-arrow {
  display: none !important;
}

.tab {
  border: none;
}

/* Dashboard */
.dashboard {
  max-width: 1000px;
  margin: 0 auto;
}

/* Subscription Cards */

.sub-card {
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  width: 75%;
  height: 120px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1%;
  box-shadow: 0 8px 9px -6px grey;
  font-family: "Oswald", sans-serif;
  color: white;
}

.card-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  text-align: center;
}
.card-section h2 {
  font-size: 40px;
  margin-bottom: 15px;
  align-self: center;
  letter-spacing: 3px;
  margin-top: 5px;
}
#card-title {
  font-size: 50px;
  margin: 0 0 10px 0;
}
.card-section p {
  align-self: center;
  font-size: 13px;
}
.counter {
  width: 10%;
  align-self: center;
  text-align: center;
}

.due-date {
  color: white;
  display: flex;
  padding: 5px;
}
#card-img {
  border-radius: 8%;
  width: 100px;
}
.title {
  margin: 0 auto;
  align-self: center;
  font-size: 50px;
  padding: 10px;
}
.cost-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.cost-container h4 {
  font-size: 20px;
}
/* Add Card Form */

.addsub-container {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.addsub-container h2 {
  text-align: center;
  margin: 5px;
}
.addsub-container img {
  width: 40%;
  align-self: center;
  border: 1px solid grey;
  margin: 10px 10px;
}
.addsub-container input {
  width: 70%;
  margin: 10px 10px;
}
#add-sub-text {
  width: 35%;
}
.upload-img-controls {
  display: flex;
  justify-content: space-around;
}
#cancel {
  margin: 10px;
  height: 10%;
  width: 175px;
  background: #eb5a62;
  border: whitesmoke;
}
.addsub-cost {
  display: flex;
  justify-content: space-between;
}
.form-container {
  padding: 2%;
  width: 80%;
  margin: 0 auto;
}
/* Edit User Account */
